
@{
    ViewData["Title"] = "About";
}
<!-- hero -->
<section class="hero">
    <div class="hero-overlay">
        <div class="container-fluid">
            <div class="row">
                <div class="hero-content">
                    <div class="col-md-12">
                        <h2 class="text-center">About Us</h2>
                        <p class="lead">High ceilings, pine wood flooring, great music, excellent coffee and a burning log fire add to the warmth and charm of our beautiful hair studio.</p>
                    </div>
                </div>
                <div class="about-attributes-content">
                    <div class="col-md-4">
                        <i class="fa fa-paint-brush"></i>
                        <h3>Calling</h3>
                    </div>
                    <div class="col-md-4">
                        <i class="fa fa-paint-brush"></i>
                        <h3>Belief</h3>
                    </div>
                    <div class="col-md-4">
                        <i class="fa fa-paint-brush"></i>
                        <h3>Drive</h3>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- /.hero -->
<!-- intro -->
<section class="container intro">
    <div class="row">
        <div class="center-block col-md-6 col-md-push-3">
            <h2 class="text-center">Who we are</h2>
            <p class="text-center">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
            <p class="text-center">Eu augue augue nunc elit dolor, luctus placerat scelerisque euismod.</p>
        </div>
    </div>
    <div class="row">

        <article class="col-md-4">
            <figure class="text-center">
                <img class="icon" src="~/icons/scissors-comb.svg" alt="Alternate Text" />
            </figure>
            <h3 class="text-center">Heading</h3>
            <p class="text-center">Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
        </article>

        <article class="col-md-4">
            <figure class="text-center">
                <img class="icon" src="~/icons/blowdryer.svg" alt="Alternate Text" />
            </figure>
            <h3 class="text-center">Heading</h3>
            <p class="text-center">Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
        </article>

        <article class="col-md-4">
            <figure class="text-center">
                <img class="icon" src="~/icons/heart.svg" alt="Alternate Text" />
            </figure>
            <h3 class="text-center">Heading</h3>
            <p class="text-center">Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
        </article>

    </div>

</section>
<!-- /.intro -->