@{
    ViewData["Title"] = "Services";
}
<!-- hero -->
<section class="hero">
    <div class="hero-overlay">
        <div class="container-fluid">
            <div class="row">
                <div class="hero-content">
                    <div class="col-md-12">
                        <h1 class="text-white text-center">What we do</h1>
                        <p class="lead">Brief explanation of what we do / specialise in.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.hero -->
<div class="container-fluid">
    <div class="bg-black services-gallery-header row">
        <h2 class="text-white text-center">Services</h2>
    </div>
</div>
<div class="container-fluid services">
        <div class="row">
            <h2 class="text-center">Cut and Blow</h2>
            <div class="col-md-6">
                <ul class="list-unstyled">
                    <li class="service-item">
                        <i class="fa fa-star service-icon"></i>
                        <p>Ladies Cut & Blow</p>
                    </li>
                    <li class="service-item">
                        <i class="fa fa-star service-icon"></i>
                        <p>Balayage</p>
                    </li>
                    <li class="service-item">
                        <i class="fa fa-star service-icon"></i>
                        <p>Ladies Cut & Blow</p>
                    </li>
                    <li class="service-item">
                        <i class="fa fa-star service-icon"></i>
                        <p>Balayage</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled">
                    <li class="service-item">
                        <i class="fa fa-star service-icon"></i>
                        <p>Ladies Cut & Blow</p>
                    </li>
                    <li class="service-item">
                        <i class="fa fa-star service-icon"></i>
                        <p>Balayage</p>
                    </li>
                    <li class="service-item">
                        <i class="fa fa-star service-icon"></i>
                        <p>Ladies Cut & Blow</p>
                    </li>
                    <li class="service-item">
                        <i class="fa fa-star service-icon"></i>
                        <p>Balayage</p>
                    </li>
                </ul>

            </div>
        </div>
        
        <div class="row">
            <h2 class="text-center">Color</h2>
            <div class="col-md-6">
                <ul class="list-unstyled">
                    <li class="service-item">
                        <i class="fa fa-star service-icon"></i>
                        <p>Ladies Cut & Blow</p>
                    </li>
                    <li class="service-item">
                        <i class="fa fa-star service-icon"></i>
                        <p>Balayage</p>
                    </li>
                    <li class="service-item">
                        <i class="fa fa-star service-icon"></i>
                        <p>Ladies Cut & Blow</p>
                    </li>
                    <li class="service-item">
                        <i class="fa fa-star service-icon"></i>
                        <p>Balayage</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled">
                    <li class="service-item">
                        <i class="fa fa-star service-icon"></i>
                        <p>Ladies Cut & Blow</p>
                    </li>
                    <li class="service-item">
                        <i class="fa fa-star service-icon"></i>
                        <p>Balayage</p>
                    </li>
                    <li class="service-item">
                        <i class="fa fa-star service-icon"></i>
                        <p>Ladies Cut & Blow</p>
                    </li>
                    <li class="service-item">
                        <i class="fa fa-star service-icon"></i>
                        <p>Balayage</p>
                    </li>
                </ul>

            </div>
        </div>
</div>