<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Application</title>

    <environment names="Development">
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>

        <!-- fontawesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700|Roboto:400,700" rel="stylesheet">
        <!-- custom styles -->
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment names="Staging,Production">
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>

        <!-- fontawesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700|Roboto:400,700" rel="stylesheet">
        <!-- custom styles -->
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>

</head>

<body id="override">

<!-- header container -->
<section class="container-fluid">
    <!-- header-->
    <header>
        <div class="row">
            <!-- nav -->
            <nav class="main-nav nav navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="nav-container container">

                    <!-- navbar header / burger + logo -->
                    <div class="navbar-header">

                        <!-- data-toggle tells JS what kind of toggle, data-target what element to toggle -->
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-home" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar top-bar"></span>
                            <span class="icon-bar middle-bar"></span>
                            <span class="icon-bar bottom-bar"></span>
                        </button>

                        <a class="navbar-brand" href="#">BEAUTIFULCHAOS</a>

                    </div><!-- /.navbar -->

                    <!-- collapse & navbar-collapse wrapper is used to specify what should be collapsed (children) -->
                    <div class="collapse navbar-collapse" id="main-nav-home">
                        <!-- navbar body -->
                        <ul class="bc-nav nav navbar-nav navbar-right">
                            <li role="presentation">
                                <a href="#" class="text-uppercase">Home</a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="text-uppercase">About</a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="text-uppercase">Services</a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="text-uppercase">Gallery</a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="text-uppercase">Testimonials</a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="text-uppercase">Contact</a>
                            </li>

                        </ul>
                    </div><!-- /.navbar body -->

                </div><!-- /.container-fluid -->
            </nav> <!-- /.nav -->

        </div>
    </header><!-- /.headernav -->
</section> <!-- /.header container -->
<!-- /.header container -->

<!-- hero -->
<section class="hero">
    <div class="hero-overlay">
        <div class="container-fluid">
            <div class="row">
                <div class="hero-content text-center">
                    <h2>Come in, we're awesome!</h2>
                    <p class="lead">High ceilings, pine wood flooring, great music, excellent coffee and a burning log fire add to the warmth and charm of our beautiful hair studio.</p>
                    <p>
                        <a href="#" class="btn btn-primary">Learn more »</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.hero -->

<!-- intro -->
<section class="container intro">
    <div class="row">
        <div class="center-block col-md-6 col-md-push-3">
            <h2 class="text-center">Introduction</h2>
            <p class="text-center">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
            <p class="text-center">Eu augue augue nunc elit dolor, luctus placerat scelerisque euismod.</p>
        </div>
    </div>
    <div class="row">

        <article class="col-md-4">
            <figure class="text-center">
                <img class="icon" src="~/icons/scissors-comb.svg" alt="Alternate Text"/>
            </figure>
            <h3 class="text-center">Heading</h3>
            <p class="text-center">Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
        </article>

        <article class="col-md-4">
            <figure class="text-center">
                <img class="icon" src="~/icons/blowdryer.svg" alt="Alternate Text"/>
            </figure>
            <h3 class="text-center">Heading</h3>
            <p class="text-center">Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
        </article>

        <article class="col-md-4">
            <figure class="text-center">
                <img class="icon" src="~/icons/heart.svg" alt="Alternate Text"/>
            </figure>
            <h3 class="text-center">Heading</h3>
            <p class="text-center">Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
        </article>

    </div>

</section>
<!-- /.intro -->

<!-- feature animation -->
<div class="container-fluid">

    <div class="row text-center" id="feature-row">
        <section class="feature-line-section">

            <div class="feature-line-cont">
                <div class="col-md-4 text-center">
                    <i class="feature-icon-1 fa fa-star"></i>
                    <p class="lead">Top quality styles</p>
                </div>

                <div class="col-md-4 text-center">
                    <i class="feature-icon-2 fa fa-group"></i>
                    <p class="lead">Friendly passionate team</p>
                </div>

                <div class="col-md-4 text-center">
                    <i class="feature-icon-3 fa fa-thumbs-up"></i>
                    <p class="lead">Come and see what all the fuss is about!</p>
                </div>
            </div>
        </section>
    </div>

</div>
<!-- /.feature animation -->

<!-- gallery -->
<section class="container-fluid gallery">
    <div class="row">
        <div class="col-md-3 col-sm-6 text-center">
            <img src="http://placeimg.com/600/400/any" alt=""/>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <img src="http://placeimg.com/600/400/any" alt=""/>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <img src="http://placeimg.com/600/400/any" alt=""/>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <img src="http://placeimg.com/600/400/any" alt=""/>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <img src="http://placeimg.com/600/400/any" alt=""/>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <img src="http://placeimg.com/600/400/any" alt=""/>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <img src="http://placeimg.com/600/400/any" alt=""/>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <img src="http://placeimg.com/600/400/any" alt=""/>
        </div>
    </div>
</section>
<!-- /.gallery -->

<!-- about -->
<section class="container-fluid about section-padding">
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <h2 class="text-center">Who we are</h2>
            <p>
                In December 2014 Alisa saw a salon for sale. The ‘Beautiful’ started to happen. Alisa and Tristan purchased their studio – set in a beautiful cobbled walkway off Kalk Bay’s Main Road. Wheels were set in motion, hard work ensued putting their personal touch to their new space – culminating in the opening of Beautiful Chaos in April with their opening party taking place in May 2015.
            </p>


        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-push-2">
            <h2 class="text-center">The Studio</h2>
            <p>
                Our choice product – Wella, SP & Sebastian Professional– is used throughout and adorns the shelves. The ambience: high ceilings, beautiful wooden flooring, great music, excellent coffee and a burning log fire add to the warmth and charm of their beautiful studio.
            </p>
        </div>
    </div>
</section>
<!-- /.about -->

<!-- team -->
@*<section class="container team"></section>*@
<!-- /.team -->

<!-- more-info -->
<section class="container-fluid more-info">
    <div class="row">
        <div class="col-md-3 more-info-item text-center">
            <figure class="text-center">
                <img class="icon" src="~/icons/like.svg" alt="Alternate Text"/>
            </figure>
            <h5>Experienced</h5>
        </div>
        <div class="col-md-3 more-info-item text-center">
            <figure class="text-center">
                <img class="icon" src="~/icons/heart-hand.svg" alt="Alternate Text"/>
                <h5>We care about your hair</h5>
            </figure>
        </div>
        <div class="col-md-3 more-info-item text-center">
            <figure class="">
                <img class="icon" src="~/icons/medal.svg" alt="Alternate Text"/>
                <h5>Award winning stylist</h5>
            </figure>
        </div>
        <div class="col-md-3 more-info-item text-center">
            <figure class="text-center">
                <img class="icon" src="~/icons/painting-palette.svg" alt="Alternate Text"/>
                <h5>Artistic Salon</h5>
            </figure>
        </div>
    </div>
</section>
<!-- /.more-info -->

<!-- tesimonials -->
<section class="container testimonials">
    <div class="row">
        <div class="col-md-12">

            <!-- carousel slide pulls through styling / data-ride tells browser to perform carousel anim8 on load -->
            <div id="testimonial-slider" class="carousel slide" data-ride="carousel">

                <!-- indicators / dot nav -->
                <ol class="carousel-indicators">
                    <li data-target="#testimonial-slider" data-slide-to="0" class="active"></li>
                    <li data-target="#testimonial-slider" data-slide-to="1"></li>
                    <li data-target="#testimonial-slider" data-slide-to="2"></li>
                </ol>


                <!-- wrapper / carousel-inner for inner of carousel (images) -->
                <div class="carousel-inner" role="listbox">

                    <!-- each slide = item / active = first slide on load -->
                    <div class="item active text-center">
                        <!-- stars -->
                        <div class="star-container">
                            <img class="icon" src="~/icons/star.svg" alt="Alternate Text"/>
                            <img class="icon" src="~/icons/star.svg" alt="Alternate Text"/>
                            <img class="icon" src="~/icons/star.svg" alt="Alternate Text"/>
                            <img class="icon" src="~/icons/star.svg" alt="Alternate Text"/>
                            <img class="icon" src="~/icons/star.svg" alt="Alternate Text"/>
                        </div>
                        <!-- carousel caption -->
                        <h6>Alisa is amazing. I don't trust any other hair dresser. Friendly fun atmosphere. Love it. Thanks so much</h6>
                    </div>
                    <div class="item text-center">
                        <!-- stars -->
                        <div class="star-container">
                            <img class="icon" src="~/icons/star.svg" alt="Alternate Text"/>
                            <img class="icon" src="~/icons/star.svg" alt="Alternate Text"/>
                            <img class="icon" src="~/icons/star.svg" alt="Alternate Text"/>
                            <img class="icon" src="~/icons/star.svg" alt="Alternate Text"/>
                            <img class="icon" src="~/icons/star.svg" alt="Alternate Text"/>
                        </div>
                        <!-- carousel caption -->
                        <h6>Best salon ever! Always makes you feel great... Highly recommend Alisa and Tristan...</h6>
                    </div>
                    <div class="item text-center">
                        <!-- stars -->
                        <div class="star-container">
                            <img class="icon" src="~/icons/star.svg" alt="Alternate Text"/>
                            <img class="icon" src="~/icons/star.svg" alt="Alternate Text"/>
                            <img class="icon" src="~/icons/star.svg" alt="Alternate Text"/>
                            <img class="icon" src="~/icons/star.svg" alt="Alternate Text"/>
                            <img class="icon" src="~/icons/star.svg" alt="Alternate Text"/>
                        </div>
                        <!-- carousel caption -->
                        <h6>I had my hair and make up done here for my matric dance and I cannot recommend a better pair of artists. You guys saved my day and i walked out looking like a super star you guys are absolutely amazing!</h6>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- /.tesimonials -->

<!-- spotlight 1 -->
<section class="container-fluid spotlight-1 bg-black">
    <div class="content col-xs-12 col-md-6 pull-left">
        <h4 class="bg-black">Heading</h4>
        <p>Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.</p>
    </div>
    <div class="col-xs-12 col-md-6 pull-right spotlight-image-cont">
        <figure>
            <img class="spotlight-image" src="http://placeimg.com/600/400/any" alt=""/>
        </figure>
    </div>
</section>
<!-- /.spotlight 1 -->
    
<!-- spotlight 2 -->
<section class="container-fluid spotlight-1 bg-black">
    <div class="content col-xs-12 col-md-6 pull-right">
        <h4 class="bg-black">Heading</h4>
        <p>Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.</p>
    </div>
    <div class="col-xs-12 col-md-6 pull-left spotlight-image-cont">
        <figure>
            <img class="spotlight-image" src="http://placeimg.com/600/400/any" alt=""/>
        </figure>
    </div>
</section>
<!-- /.spotlight  -->
   
<!-- cta -->
<section class="container-fluid cta">
    <div class="row cta-row">
        <div class="col-md-9">
            <h4 class="lead">
                <i>Call us today and experience the magic</i>
            </h4>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-primary">Book now</a>
        </div>
    </div>
</section>
<!-- /.cta -->

<!-- main-footer -->
<div class="container-fluid">
    <footer class="row main-footer">
        <div class="col-md-4 text-center">
            <div class="fb-page-plugin-cont">
                <div class="fb-page" data-href="https://www.facebook.com/BeautifulChaosHairArtistry/" data-height="200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/BeautifulChaosHairArtistry/" class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/BeautifulChaosHairArtistry/">Beautiful Chaos Hair Artistry Kalk Bay</a>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h5 class="text-primary">Find us</h5>
            <ul class="list-unstyled">
                <li>104 Main Road,</li>
                <li>(up the alley next to lekker cafe),</li>
                <li>Kalk Bay,</li>
                <li>Cape Town</li>
            </ul>
            <a class="btn btn-primary" id="get-directions" href="#">Get Directions</a>
        </div>
        <div class="col-md-4">
            <h5 class="text-primary">Quick Contact</h5>
            <form class="quick-contact" action="/" method="post">
                <div class="form-group">
                    <input type="email" class="form-control" value="" id="email" placeholder="Email"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" value="" id="name" placeholder="Name"/>
                </div>
                <div class="form-group">
                    <textarea placeholder="Message"value="message" id="message" class="form-control"></textarea>
                </div>
            </form>
        </div>
        <div class="extra-footer">

            <div class="col-md-6">
                <h5>BC</h5>
                <p>Beautiful chaos is the culmination of passion, dreams, hard work and never-ending love. Write some more cool short powerful stuff summarizing what beautiful chaos is to quickly summarize and draw people in.</p>
            </div>
            
             <div class="col-md-6">
                <h4 class="text-primary">We're Open</h4>
                <ul class="footer-hours list-unstyled">
                    <li>Monday: Beauty-Sleep</li>
                    <li>Tuesday - Friday: 8:30 - 5:00</li>
                    <li>Saturday: 8:30 - 1:00</li>
                    <li>Public Holidays: 8:30 - 1:00</li>
                </ul>
            </div>
                
        </div>

    </footer>
 
</div>
<!-- /.main-footer -->
    <div class="row copy-info bg-black">
        <div class=" text-center col-md-6 col-md-push-3">
          
            <small class="text-white">Copyright Beautiful Chaos 2017 (put year)</small>
        </div>
    </div>
    
    <div class="text-center copy-info row copy-info bg-black">
        <div class="col-md-6 col-md-push-3">
            <p class="text-white">Made by William Langroudi</p>
           
        </div>
    </div>
  

<!-- /main-footer -->
<section class="container-main hidden-lg">
    @RenderBody()
</section>
<environment names="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.0.0.js" asp-fallback-src="~/lib/jquery/dist/jquery.js"
            asp-fallback-test="window.jQuery"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>

<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.0.0.js" asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>

    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<script>
    document.getElementById('get-directions').addEventListener('click', getDirected);

    // Get Directions link
    function getDirected() {
        var queryStringFirst = window.location.search.slice(1);

        navigator.geolocation.getCurrentPosition(function(data) {
            if (data.coords) {

                var address = 'https://maps.google.co.za/maps?saddr=' + data.coords.latitude;
                address += ',' + data.coords.longitude + '&daddr=' + queryStringFirst;
                address += "104+Main+Rd,+Fish+Hoek,+Cape+Town,+7990";

                window.location.href = address;

            }
        });
    }

    // nav scroll color change
    $(window).scroll(function() {
        if ($('.navbar').offset().top > 100) {
            $('.navbar-fixed-top').addClass('top-nav-collapse');
            // $('#override .navbar-collapse').addClass('blue-bg');
        } else {
            $('.navbar-fixed-top').removeClass('top-nav-collapse');
            //$('#override .navbar-collapse').removeClass('blue-bg');
        }
    });

</script>
<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
@*@RenderSection("scripts", required: false)*@
</body>
</html>