/*-------- Palette ---------*/
/*
#cea8ff	(206,168,255) - purple
#ceffaf	(206,255,175) - green
#ffa4a4	(255,164,164) - red
#8ad3ff	(138,211,255) - blue
#feff82	(254,255,130) - yellow
*/

/*******************************
     Utillities
*******************************/
div .right-floated {
    float: right;
    margin-left: 0.25em;
}

div [class*="right floated"] {
    float: right;
    margin-right: 0.25em;
} 

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.section-padding {
   /* padding: 6rem 0;*/
}

/*******************************
     Typography
*******************************/
body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: "Raleway","Times New Roman", Times, serif;
    font-size: 16px;
}


/*******************************
     Forms
*******************************/
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

#formCustom input {
    padding: 2rem;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.my-sidebar {
    margin-top: 3rem;
}



/*******************************
     Fonts
*******************************/
.main-nav a {
    font-family: "Roboto", "Times New Roman", Times, serif;
    font-weight: bold;
}



/*******************************
     Nav
*******************************/
#override .main-nav {
    margin-bottom: 0;
    background: transparent;
    z-index: 1000;
    box-shadow: none;
    
}

#override .navbar-brand {
    color: #f9f9f9;
}

#override .navbar-nav li a {
    color: #f9f9f9;
}

header { height: auto;}



.hero {
    background: url("http://source.unsplash.com/-y0q2es1ndA") no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

.hero h2 {
    color: #f9f9f9;
}

.hero-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    /*background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(106,203,251, 0.3));*/
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0, 0.3));
    z-index: 999;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#override .jumbotron h1, #override .hero-content p {
    color: #f9f9f9;
}

#override .intro > .row {
    padding: 1rem 0 1rem 0;
    padding: 16px 0 16px 0;
}


.icon {
    width: 8rem;
}



/*******************************
     feature line
*******************************/
.feature-line-section {
    padding: 2rem 0 0 0;
}


.feature-line-cont {
    color: #fff;
    width: 100%;
    padding: 15rem 1rem 18rem 1rem;
    background-color: #84DBFF;
    height: auto;
}


.feature-line-cont  p {
    display: block;
    margin: 2rem 0 0 0;
  
}

.feature-line {
    display: block;
    height: 8px;
    margin: 0 auto;
    border-bottom: 8px solid #fff;
    width: 60%;
    z-index: 1000;
}

.feature-icon-1, .feature-icon-2, .feature-icon-3 {
    font-size: 6rem;
    padding: 3rem;
    z-index: 1000;
    border: 4px solid #fff;
    border-radius: 50%;
    color: #84DBFF;
    background-color: #fff;
    margin-top: -88px;
    transition: all linear 0.2s;

}

.feature-icon-1:hover, .feature-icon-2:hover, .feature-icon-3:hover {
        background: #84DBFF;
        border-color: #fff;
        border-width: 15px;
        transform: scale(1.1);
        color: #fff;
        /*transform: rotate(360deg)*/
}

.feature-icon-1:after, .feature-icon-2:after, .feature-icon-3:after {
        transition: top 0.2s ease, border 0.6s ease, border-radius 0.4s ease;
        position: absolute;
        left: 4%;
        top: -20%;
        margin: 0 auto;
        border-radius: 1%;
        display: block;
        z-index: 2;
        padding: 5rem;
        border: 3px solid #111;
        content: "  ";
        box-sizing: content-box;
        opacity: 0;
        visibility: hidden;
    }

.feature-icon-1:hover:after {
    left: 4%;
    top: 5.4%;
    border-radius: 50%;
    display: block;
    z-index: 2;
    padding: 5.1rem 5rem;
    border: 3px solid #fff;
    box-sizing: content-box;
    content: "";
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}

.feature-icon-2:hover:after {
    left: 5.3%;
    top: 5.5%;
    border-radius: 50%;
    display: block;
    z-index: 2;
    padding: 5rem 5.3rem;
    border: 3px solid #fff;
    box-sizing: content-box;
    content: "";
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}

.feature-icon-3:hover:after {
    left: 5%;
    top: 4.4%;
    border-radius: 50%;
    display: block;
    z-index: 2;
    padding: 5.2rem 5rem;
    border: 3px solid #fff;
    box-sizing: content-box;
    content: "";
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}


@media screen and (max-width: 991px) {
    .feature-icon-1, .feature-icon-2, .feature-icon-3 {
        font-size: 3rem;
        padding: 1.5rem;
    }

    .feature-icon-1:hover:after, .feature-icon-2:hover:after, .feature-icon-3:hover:after {
        display: none;
    }

    .feature-line-cont > .col-md-4 {
       /* height: 15rem;*/
        padding: 4rem 0;
    }

    .feature-line-cont {
        padding: 6rem 1rem 6rem 1rem;
    }

}

/*******************************
     gallery
*******************************/
.gallery {
    box-shadow: 0 0 2px #000;
}

.gallery .col-md-3 {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.gallery img{
    width: 100%;
    display: block;
    margin: 0 auto;
}


/*******************************
     about
*******************************/

.about {
    background: #000000;
    color: #f9f9f9;

}
.about .row {
     padding: 6rem 0;
}
.about h2 {
    color: #f9f9f9;
}


/*******************************
     more info
*******************************/
.more-info .row > .col-md-3 {
    padding: 6rem 1rem;
}

.more-info .row > .col-md-3:nth-of-type(1) {
    background: rgba(206, 255, 175, 0.78);
}

    .more-info .row > .col-md-3:nth-of-type(2) {
        background: #8ad3ff;
        background: rgba(138, 211, 255, 0.78);
    }

.more-info .row > .col-md-3:nth-of-type(3) {
        background: #ffa4a4;
        background: rgba(255, 164, 164, 0.78);
    }

.more-info .row > .col-md-3:nth-of-type(4) {
        background: #feff82;
        background: rgba(254, 255, 130, 0.78);
    }

.more-info-item h5 {
    padding-top: 1rem;
    margin-bottom: 0;
}



/*******************************
     testimonials
*******************************/
#testimonial-slider {
    padding: 4rem;
    background: #f4f4f4;
}

.star-container > img {
    width: 3rem;
    display: inline;
}

.carousel-indicators > ol > li{
    list-style: circle;
}
